{:deps    {io.zalky/cinch      {:mvn/version "0.1.0"}
           org.clojure/clojure {:mvn/version "1.11.1"}
           re-frame/re-frame   {:mvn/version "1.1.2"}
           reagent/reagent     {:git/url "https://github.com/reagent-project/reagent.git"
                                :git/sha "e67d4f8804c109868469d6e81ecd7184cf707575"}}
 :paths   ["src/clojure"]
 :aliases {:cljs/dev    {:extra-paths ["test/clojure"]
                         :extra-deps  {binaryage/devtools            {:mvn/version "1.0.6"}
                                       day8.re-frame/re-frame-10x    {:mvn/version "1.5.0"}
                                       day8.re-frame/test            {:mvn/version "0.1.5"}
                                       nrepl/nrepl                   {:mvn/version "0.8.3"}
                                       cider/cider-nrepl             {:mvn/version "0.28.5"}
                                       org.clojure/test.check        {:mvn/version "1.1.1"}
                                       refactor-nrepl/refactor-nrepl {:mvn/version "3.5.5"}}}
           :cljs/client {:extra-paths ["client/clojure" "client/scss"]
                         :extra-deps  {thheller/shadow-cljs {:mvn/version "2.20.2"}}
                         :main-opts   ["-m" "shadow.cljs.devtools.cli"]}
           :cljs/report {:main-opts ["-m" "shadow.cljs.build-report" "app" "target/report.html"]}
           :sass/client {:extra-paths ["client/scss" "src/scss"]
                         :extra-deps  {io.zalky/dart-sass-clj {:mvn/version "0.2.0"}
                                       io.zalky/runway        {:mvn/version "0.2.1"}
                                       org.webjars/bootstrap  {:mvn/version "5.2.2"}}
                         :exec-fn     runway.core/exec
                         :exec-args   {dart-sass-clj.core/compile {:source-dirs  ["client/scss" "src/scss"]
                                                                   :target-dir   "resources"
                                                                   :output-style :expanded
                                                                   :source-maps  true
                                                                   :watch        true}}}
           :css/bundle  {:extra-paths ["src/scss"]
                         :extra-deps  {io.zalky/axle {:mvn/version "0.2.0"}}
                         :exec-fn     runway.core/exec
                         :exec-args   {reflet.css.bundle/bundle {}}}
           :build       {:deps       {io.zalky/build-clj {:git/url "https://github.com/zalky/build-clj.git"
                                                          :git/sha "c8782e887381160f6d34d48425dc2d3a2a40f4cb"}}
                         :ns-default io.zalky.build}}}
