{:deps   {:aliases [:repl]}
 :builds {:test {:target           :browser-test
                 :test-dir         "resources/test"
                 :compiler-options {:infer-externs :auto}
                 :devtools         {:http-port 8021
                                    :http-root "resources/test"}}
          :dev  {:target           :browser
                 :output-dir       "resources/js"
                 :asset-path       "/js"
                 :devtools         {:http-port 8022
                                    :http-root "resources"
                                    :watch-dir "resources"
                                    :preloads  [day8.re-frame-10x.preload
                                                reflet.debug.preload]}
                 :compiler-options {:infer-externs   :auto
                                    :closure-defines {re-frame.trace.trace-enabled?        true
                                                      day8.re-frame.tracing.trace-enabled? true}
                                    :external-config {:devtools/config {:dont-detect-custom-formatters true}}}
                 :modules          {:main {:init-fn reflet.client-dev/init!}}}}}
