
$debug-color:                   color.adjust($blue, $alpha: -0.2);
$debug-radius:                  8px;
$debug-border-thickness:        2px;
$debug-panel-border:            $debug-border-thickness solid color.adjust($blue, $alpha: -0);
$debug-panel-inner-border:      1px solid color.adjust($blue, $alpha: -0);
$debug-panel-drop-shadow-color: color.adjust($blue, $alpha: -0.65);

$syntax-keyword-namespace:      #9167db;
$syntax-keyword-name:           #cb49f1;
$syntax-ref:                    $blue;

.debug-tap {
    display: none;
}

.debug-mark {
    position: fixed;
    color: $debug-color;
    height: 16px;
    width:  16px;
    transform: translate(8px, 8px);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        height: 20px;
        width:  20px;
        transform: translate(6px, 6px);
    }
}

.debug-panel {
    position: fixed;
    width: 250px;
    border: $debug-panel-border;
    border-radius: $debug-radius;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.07);
    transform-style: preserve-3d;
    background: $body-color;
    color: $blue;
    font-size: $font-size-xs;

    $shadow-offset: 4px + $debug-border-thickness;

    > :last-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: $shadow-offset;
        left: $shadow-offset;
        border-radius: $debug-radius + $shadow-offset / 2;
        background: $debug-panel-drop-shadow-color;
        transform: translateZ(-4px);
    }
}

.debug-header {
    padding: 0.25rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    border-top-left-radius: $debug-radius;
    border-top-right-radius: $debug-radius;
    border-bottom: $debug-panel-inner-border;
    background: $body-color;
    z-index: 1;
    cursor: default;
    user-select: none;

    &.dragging {
        cursor: grabbing;
    }
}

.debug-refs {
    display: flex;
    flex-direction: column;
}

.debug-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    > *:not(.debug-header) {
        padding: 0.75rem;
    }

    > :not(:first-child, :nth-child(2)) {
        border-top: $debug-panel-inner-border;
    }
}

// Data formatting

.debug-map {
    display: grid;
    grid-template-columns: 10px auto;
    margin: 0 -0.25rem;
    align-items: center;

    > .debug-map-data {
        padding: 0 0.1rem;
    }

    > :nth-child(3) {
        transform: scaleX(-100%);
    }
}

.debug-map-brace {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-family: $font-family-monospace;
    font-weight: 700;

    > :nth-child(2), > :nth-child(4) {
        flex: 1;
        width: 4.5px;
        border-right: 1px solid $blue;
    }
}

.debug-map-data {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    font-family: $font-family-monospace;

    > div {
        display: contents;
        overflow: hidden;
    }
}

.debug-ref {
    color: $syntax-ref;
}

.debug-keyword {
    > :first-child {
        color: $syntax-keyword-namespace;
    }

    > :last-child {
        color: $syntax-keyword-name;
    }
}
