
$debug-color: color.adjust($blue, $alpha: -0.2);
$debug-radius: 8px;
$debug-panel-border: 1px solid color.adjust($blue, $alpha: -0);
$debug-panel-drop-shadow-color: color.adjust($blue, $alpha: -0.65);

$syntax-keyword-namespace: #9167db;
$syntax-keyword-name: #cb49f1;
$syntax-ref: $blue;

.debug-tap {
    display: none;
}

.debug-node {
    position: fixed;
    color: $debug-color;
    height: 16px;
    width:  16px;
    transform: translate(8px, 8px);

    &:not(.group) > * {
        display: none;
    }
}

.debug-panel {
    position: fixed;
    height: 200px;
    width: 250px;
    border: $debug-panel-border;
    border-radius: $debug-radius;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.07);
    background: $body-color;
    transform-style: preserve-3d;

    $shadow-offset: 4px;

    > :last-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: $shadow-offset;
        left: $shadow-offset;
        border-radius: $debug-radius + $shadow-offset / 2;
        background: $debug-panel-drop-shadow-color;
        transform: translateZ(-4px);
    }
}

.debug-content {
    display: flex;
    flex-direction: column;

    > * {
        padding: 1rem;
    }

    > :not(:first-child) {
        border-top: $debug-panel-border;
    }
}

.debug-map {
    display: grid;
    grid-template-columns: 14px auto 14px;
    margin: 0 -0.35rem;
    align-items: center;

    > .debug-map-data {
        padding: 0 0.25rem;
    }

    > :nth-child(3) {
        transform: scaleX(-100%);
    }
}

.debug-map-brace {
    display: flex;
    flex-direction: column;
    color: $blue;
    align-self: stretch;

    > :nth-child(2), > :nth-child(4) {
        flex: 1;
        width: 6.5px;
        border-right: 1px solid $blue;
    }
}

.debug-map-data {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    font-family: $font-family-monospace;
    font-size: $font-size-xs;

    > div {
        display: contents;
        overflow: hidden;
    }
}

.debug-ref {
    color: $syntax-ref;
}

.debug-keyword {
    > :first-child {
        color: $syntax-keyword-namespace;
    }

    > :last-child {
        color: $syntax-keyword-name;
    }
}
