
$debug-color:                   #454545;

$debug-mark-color:              #8967f4; // #a267f4;
$debug-marks-bg:                rgb(245, 247, 255, 94%);
$debug-radius:                  8px;
$debug-panel-radius:            2 * $debug-radius;
$debug-stack-height:            8px;
$debug-border-thickness:        2px;
$debug-border-color:            color.adjust($debug-color, $lightness: 15);
$debug-panel-border:            $debug-border-thickness solid $debug-border-color;
$debug-panel-inner-border:      1px solid $debug-border-color;
$debug-panel-drop-shadow:       rgba(208, 208, 208, 50%);

$syntax-keyword-namespace:      #9167db;
$syntax-keyword-name:           #ac4af0; // #cb49f1;
$syntax-ref:                    #ff00e9; // #d04dff;
$syntax-string:                 #818181;

$control-fade:                  -0.3;

@mixin disable-safari-transitions {
    // Safari implements janky transitions when combined with certain
    // positioning properties.
    @supports selector(:nth-child(1 of x)) {
        transition: none !important;
    }
}

.reflet-overlay {
    transform-style: preserve-3d;
}

.reflet-tap {
    display: none;
}

.reflet-node {
    position: fixed;
}

.reflet-glyph {
    display: flex;
    align-items: center;
}

.reflet-mark, .reflet-mark-group {
    position: relative;
    transform: translate($debug-radius, $debug-radius + $debug-stack-height);
    user-select: none;
    color: $debug-mark-color;
    transition: color 0.3s ease;

    svg {
        width: 16px;

        path {
            transition: all 0.3s linear;
            opacity: 1;
            visibility: visible;

            @include disable-safari-transitions;
        }
    }

    .reflet-mark-expanded {
        position: absolute;
        display: grid;
        grid-template-columns: (2 * $debug-radius) auto;
        grid-template-rows: (2 * $debug-radius + $debug-stack-height);
        align-items: start;
        width: fit-content;
        height: fit-content;

        padding: $debug-radius;
        padding-right: $debug-radius * 2;
        padding-bottom: 0;
        margin-left: -$debug-radius;
        margin-top: -$debug-radius;
        border-top-left-radius: 2 * $debug-radius;
        border-bottom-left-radius: 2 * $debug-radius;
        border-top-right-radius: 2 * $debug-radius;
        border-bottom-right-radius: 2 * $debug-radius;

        $shadow: color.adjust($body-color, $alpha: -0.2);
        background: $debug-marks-bg;
        font-size: $font-size-xs;
        transition: all 0.3s linear;

        @include disable-safari-transitions;

        visibility: hidden;
        opacity: 0;

        > div {
            display: contents;
            cursor: pointer;

            &:hover > * {
                color: color.adjust($debug-mark-color, $lightness: -5);
            }

            > :nth-child(2n) {
                padding-left: 1rem;
                cursor: pointer;
                color: $font-color;
            }
        }

        > * {
            white-space: nowrap;
        }
    }

    &:hover {
        svg path {
            opacity: 0;
            visibility: hidden;
        }

        .reflet-mark-expanded {
            visibility: visible;
            opacity: 1;
        }
    }
}

.reflet-panel {
    position: fixed;
    width: 18rem;
    min-width: 3rem;
    min-height: 3rem;

    border: $debug-panel-border;
    border-radius: $debug-panel-radius;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.07);
    transform-style: preserve-3d;
    color: $debug-color;
    font-size: $font-size-xs;
    background: $body-color;

    $shadow-offset: 4px + $debug-border-thickness;

    &-shadow:nth-child(3) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: $shadow-offset;
        left: $shadow-offset;
        border-radius: $debug-panel-radius + $shadow-offset / 2;
        background: $debug-panel-drop-shadow;
        transform: translateZ(-1px);
    }

    &-handle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
        transition: all 0.3s ease;
        opacity: 0;
        color: $debug-border-color;

        &:hover, .reflet-panel:hover.reflet-resize & {
            opacity: 1;
            cursor: nwse-resize;
        }
    }

    &.reflet-resize {
        cursor: nwse-resize;
    }
}

.reflet-header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.25rem 0.75rem;
    border-top-left-radius: $debug-panel-radius - $debug-border-thickness;
    border-top-right-radius: $debug-panel-radius - $debug-border-thickness;
    border-bottom: $debug-panel-inner-border;
    background: $body-color;
    z-index: 1;
    cursor: default;
    user-select: none;
    font-weight: $font-bold;

    .reflet-move & {
        cursor: grabbing;
    }

    > :first-child {
        flex: 1 1 auto;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 0.5rem;
    }
}

.reflet-control {
    width: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    color: $debug-border-color;
    flex: 0 0 auto;

    &:hover {
        color: $debug-color;
    }
}

.reflet-refs {
    display: flex;
    flex-direction: column;
}

.reflet-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    > *:not(.reflet-header) {
        padding: 0.75rem;
    }

    > :not(:first-child, :nth-child(2)) {
        border-top: $debug-panel-inner-border;
    }
}

// Data formatting

@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 1rem;
}

.reflet-map, .reflet-vec, .reflet-set {
    display: grid;
    grid-template-columns: 6px auto;
    align-items: center;
    font-family: $font-family-monospace;

    &::before {
        display: flex;
        justify-self: right;
        align-self: start;
        font-weight: 700;
        white-space: nowrap;
    }
}

.reflet-map-data {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    column-gap: 0.5rem;
    padding: 0 0.1rem;
    font-family: $font-family-monospace;
    color: $font-color;

    > div {
        display: contents;

        > * {
            display: flex;
            overflow: hidden;
            white-space: nowrap;
        }

        > :nth-child(2) {
            justify-content: flex-end;
        }
    }
}

.reflet-map::before {
    content: "{";
}

.reflet-vec::before {
    content: "[";
}

.reflet-set::before {
    content: "\#{";
}

.reflet-ref {
    font-family: $font-family-monospace;

    :not(.reflet-header) > & {
        color: $syntax-ref;
        cursor: pointer;
    }
}

.reflet-keyword {
    font-family: $font-family-monospace;

    > :first-child {
        color: $syntax-keyword-namespace;
    }

    > :nth-child(2) {
        @include truncate;
        direction: rtl;
        color: $syntax-keyword-namespace;
    }

    > :last-child {
        color: $syntax-keyword-name;
    }
}

.reflet-string {
    color: $syntax-string;
    font-family: $font-family-monospace;
    font-style: italic;

    > * {
        @include truncate;
    }
}

.reflet-nil {
    color: $syntax-string;
    font-family: $font-family-monospace;
}

.reflet-no-data {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: $syntax-string;
}

.reflet-number {
    color: #8b8ab8;
    font-family: $font-family-monospace;
}

.reflet-html {
    color: $syntax-string;
    font-family: $font-family-monospace;
}
