
@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400&display=swap');

@import "variables";

// Bootstrap

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-reboot";

// Modules

@import "debug";

// Main

body {
    color: $font-color;
}

* {
    &:focus, &:hover, &:active {
        outline: none !important;
    }
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    > :first-child {
        background: linear-gradient(120deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 50%),
                    linear-gradient(240deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 50%),
                    linear-gradient(0deg, rgba(0,0,0,0.02), rgba(0,0,0,0) 50%);
        padding-bottom: 1rem;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        font-size: 4rem;
        font-weight: 200;
    }

    .menu {
        justify-content: center;
    }
}

.view {
    position: relative;
    flex: 1;
}

.player {
    width: 30rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    .btn-toolbar .btn {
        width: 5rem;
    }

    .btn-toolbar > :last-child {
        flex: 1;
        margin-left: 0.5rem;
        border-radius: $border-radius;
        background: $card-bg;
    }

    &-track-list {
        display: grid;
        grid-template-columns: 0.75fr 2fr auto;
        gap: 1rem 1rem;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        overflow: hidden;
        transition: all 0.3s ease;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        .selecting & {
            transform: scaleY(1);
            opacity: 1;
        }

        > div {
            display: contents;

            &:hover > div {
                background: color.scale($card-bg, $lightness: -2%);
            }

            > div {
                margin: -0.5rem -1rem;
                padding: 0.5rem 1rem;
                overflow: hidden;
                white-space: nowrap;
                background: $card-bg;
                cursor: pointer;
            }
        }

        > :nth-child(2n) > div {
            background: color.scale($card-bg, $lightness: 50%);
        }
    }
}
